.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 75rem;
  margin: 1.25rem auto;
}

.photo {
  margin: .75rem;
  width: 17.5rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 5px;
  background-color: #323a45;
  box-shadow: 4px 3px 8px 0px rgb(0, 0, 0, 0.5);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 11px 6px rgb(0, 0, 0, 0.5);
    transform: translateY(-3px);
  }

  &-thumb-container {
    background-color: #000;
    position: relative;
    height: 10.75rem;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 10.75rem;
  }

  &-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.25rem;
    height: 5rem;
  }

  &-name {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}